*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

 html, body{height: 100%;}
 
.bg-spring {
    background-color: #000000!important;
    border-top: 7px solid #888a85;
}

nav .nav-item {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-right:10px;
}

button.nav-link {
    background: #000000;
    border:none;
    cursor: pointer;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;

}

/* Registration */
@media(min-width: 768px) {
    .field-label-responsive {
        padding-top: .5rem;
        text-align: right;
    }
}

.card{
	max-height:465px;
}

.span-size{
	font-size:14px;
}

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

.col-md-12{
	padding:0;
}